
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to bottom,#0f0f0f, #94538f ); 
  color: white;
  font-family: sans-serif;
  
}

.fundo img{
  height: 10vh;
  border-radius: 50%;
  
  
}

.fundo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 21px;
}
.fundo h2{
  padding: 2%;
}
.corpo{
  color: white;
}
.borda{
  border:4px solid;
  outline: 8px solid;
  outline-color: hwb(330 0% 0% / 0.24);
  border-color: hwb(330 0% 0%);
  border-radius: 100%;
  height: 10vh;
  width: fit-content;
  
}
.sobre{
  text-align: center;
}

.icones img{
height: 4vh;
padding: 5px;
margin-top: 3px;
}

.icones{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

.todos{

    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;

}
.primeirocont {
  
  text-align: center;
  border: solid #0f0f0f1a;
  border-radius: 10px;
  height: 20vh;
  background-color: #0f0f0f56;
  width: 50%;
     
}

footer {
  text-align: center;
}